<h1 class="text-center">Stupid coaching - Ask</h1>
<br>
<form action="/answer" data-turbo="false" method="get" class="text-center">
  <input type="text" name="question" value="<%= params[:question] %>" placeholder="What is your question?">
  <input type="submit" value="Ask!">
</form>
